body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #f9efe4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f9efe4;
  position: sticky;
  z-index: 1;
  top: 0;
}

.menu {
  display: flex;
  height: 7.5rem;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.menu-logo {
  flex: 1;
}

.menu-header {
  display: flex;
  justify-content: right;
  gap: 1.25rem;
  white-space: nowrap;
}

.menu-option {
  color: #2f2f30;
  font-size: 0.875rem;
  padding: 1rem;
  transition: color 1s;
}

.menu-option:hover {
  color: #000000;
  cursor: pointer;
}

.request-demo {
  background: none;
  font-weight: 400;
  border: 0.0625rem solid #2f2f30;
  border-radius: 3.125rem;
  padding: 0.625rem 1.5rem;
  transition: background-color 1s, color 1s;
}

.request-demo:hover {
  background-color: #2f2f30;
  color: #f9efe4;
  cursor: pointer;
}

.start-for-free,
.start-for-free-form-button {
  background-color: #176ae5;
  color: #ffffff;
  font-weight: 400;
  border: none;
  border-radius: 1.875rem;
  white-space: nowrap;
  padding: 0.625rem 1.5rem;
  transition: background-color 1s, color 1s, box-shadow 1s;
}

.start-for-free:hover {
  background-color: #b6b6b6;
  color: #176ae5;
  cursor: pointer;
}

.start-for-free-form-button:hover {
  background-color: #b6b6b6;
  color: #176ae5;
  box-shadow: 0 0 0 0.0625rem #b6b6b6;
  cursor: pointer;
}

main {
  margin-bottom: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  position: relative;
}

.main-header {
  color: #2f2f30;
  font-size: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clarity {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.main-info {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-align: center;
  inline-size: 46.875rem;
  margin-top: 0.9375rem;
}

.email-start-for-free {
  display: flex;
  justify-content: center;
  margin-top: 9.375rem;
  border: 0.0625rem solid #2f2f30;
  border-radius: 1.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email-start-for-free-input {
  flex-grow: 2;
  background: none;
  border: none;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding: 1.25rem 3.125rem;
}

.email-start-for-free-input:focus {
  outline: none;
}

.email-start-for-free-input::placeholder {
  color: #98999a;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.start-for-free-form-button {
  border-radius: 1.875rem;
  box-shadow: 0 0 0 0.0625rem #176ae5;
  background: #176ae5;
  border: none;
  padding: 0.625rem 1.5rem;
}

.main-img {
  margin-top: 9.375rem;
}

.main-guide {
  display: flex;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 0.125rem 0.75rem 0 rgba(128, 126, 120, 0.16);
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.main-time {
  margin-bottom: 0.625rem;
}

.main-time-element {
  color: #98999a;
  text-align: center;
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 0.0625rem;
}

.main-guide-text-above {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2f2f30;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.6875rem;
  white-space: nowrap;
}

.main-guide-text-below {
  color: rgba(47, 47, 48, 0.7);
  font-size: 0.9375rem;
  line-height: 1.6875rem;
}

.second-main-guide-card,
.third-main-guide-card {
  position: absolute;
  top: 6.5em;
  width: 21.875rem;
  height: 1.875rem;
  background: #fff;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.125rem 0.75rem 0 rgba(128, 126, 120, 0.15);
}

.second-main-guide-card {
  z-index: -1;
}

.third-main-guide-card {
  top: 7.3em;
  width: 19.375rem;
  z-index: -2;
}

.sponsors {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 3.75rem;
}

.sponsors-text {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  color: #2f2f30;
  text-align: center;
  font-size: 1em;
  line-height: 0.63em;
  white-space: nowrap;
}

.sponsors-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.info-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f2f30;
  text-align: center;
  white-space: nowrap;
}

.info-title h2 {
  font-size: 2.625em;
}

.info-title p {
  font-size: 1.0625em;
  margin-top: 0;
}

.info-information-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-information-selection-section {
  margin: 5vh auto;
  justify-content: center;
  display: flex;
}

.info-information-selection-section-left-side-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-information-selection-section-left-side-menu-option {
  display: flex;
  color: #2f2f30;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem 0.0625rem rgba(47, 47, 48, 0.08),
    0 0 0.0625rem 0 rgba(47, 47, 48, 0.08);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4rem;
  padding: 1.0625rem 6.3274rem 1.0869rem 1.25rem;
  white-space: nowrap;
  transition: background 1s;
}

.info-information-selection-section-left-side-menu-option:hover {
  background: #fff;
  cursor: pointer;
}

.info-information-selection-section-right-side {
  flex-shrink: 0;
  position: relative;
  margin-left: 5vw;
}

.laptop-img {
  position: absolute;
  left: 0;
}

.browse-templates {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
}

.browse-templates-container {
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.browse-templates-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.browse-templates-container-title {
  color: #2f2f30;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.05rem;
}

.browse-templates-container-text {
  color: #2f2f30;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.6875rem;
}

.browse-templates-container-title,
.browse-templates-container-text {
  margin-bottom: 2vh;
}

.browse-templates-container-button {
  border-radius: 3.25rem;
  border: 0.0625rem solid #2f2f30;
  padding: 1.125rem 3.8rem 1.1494rem 3.8125rem;
  background: none;
}

.browse-templates-container-button::placeholder {
  color: #2f2f30;
  font-size: 0.875rem;
  line-height: 1.4rem;
  letter-spacing: 0.0063rem;
}

.browse-templates-cards {
  margin: auto;
  display: flex;
  gap: 5vw;
}

.browse-templates-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.08);
  padding: 2rem;
  width: 150px;
  aspect-ratio: 1 / 1;
}

.browse-templates-card-text {
  color: #2f2f30;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.browse-templates-card-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.browse-templates-card:nth-of-type(1) .browse-templates-card-icon {
  background: url(img\card1.png), #f9efe4 50% / contain no-repeat;
}

.browse-templates-card:nth-of-type(2) .browse-templates-card-icon {
  background: url(img\card2.png), #eebacb 50% / contain no-repeat;
}

.browse-templates-card:nth-of-type(3) .browse-templates-card-icon {
  background: url(img\card3.png), #176ae5 50% / contain no-repeat;
}

.browse-templates-card:nth-of-type(4) .browse-templates-card-icon {
  background: url(img\card4.png), #f67748 50% / contain no-repeat;
}

.browse-templates-card:nth-of-type(5) .browse-templates-card-icon {
  background: url(img\card5.png), #f9efe4 50% / contain no-repeat;
}

.browse-templates-card:nth-of-type(6) .browse-templates-card-icon {
  background: url(img\card6.png), #eebacb 50% / contain no-repeat;
}

.browse-templates-card-img {
  height: 100%;
  width: 100%;
}
